
.courses_box {
	margin-top: 20px;
	.course_action {
		text-align: right;
	}
}

.course_wrapper{
	.course_box{
		margin: 40px 20%;
		padding-bottom: 80px;
		.course{
			padding: 16px;
			background: #fff;
			border: 1px solid #e3e3e3;
			.course_nav{
				margin-top: 16px;
			}
		}
	}
}
