
.courses_box {
	margin-top: 20px;
	.course_action {
		text-align: right;
		margin-right: 16px;
	}
}

.course_box{
	margin-bottom: 40px;
	.course{
		padding: 16px;
		background: #fff;
		border: 1px solid #e3e3e3;
		.course_nav{
			margin-top: 16px;
		}
	}
}

.title {
	text-align: center;
}
